/*stile banner nell'header*/
header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 200px;
    background-repeat: repeat-x;
}
/* fine stile banner header*/

/*add logo per banner*/
.logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    height: 45%;
}
/*fine add logo banner*/


/*aggiunta primo font credits*/ 
.font1{
    color: #808080;
}
/*fine aggiunta primo font*/


/*aggiunta secondo font credits*/
.font2{
    color: #20A9E5;
}
/*fine aggiunta secondo font*/


/*aggiunta stile tabella*/
.bigger{
    width: 60%;
}

thead{
    background-color:#20A9E5 ;
    color: #ffffff;
}

.specialrow{
    background-color: #B1E5F2;
}
/* fine aggiunta stile tabella*/

/*aggiunta pics sezione 3 */
.preset{
    font-size: 15px;
    color: #ffffff;
}

.photo1{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 250px;
}
.photo2{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 250px;
}
/* fine aggiunta pics sezione 3 */